<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Test Page Title</title>

  <!--pageMeta-->

  <!-- Loading Bootstrap -->
  <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Loading Elements Styles -->
  <link href="css/style.css" rel="stylesheet">

  <!-- Loading Magnific-Popup Styles -->
  <link href="css/magnific-popup.css" rel="stylesheet">

  <!-- Loading Font Styles -->
  <link href="css/iconfont-style.css" rel="stylesheet">

  <!-- Loading web3 -->
  <script src="./scripts/web3.js"></script>

  <!-- Favicons -->
  <link rel="icon" href="images/favicons/favicon.png">
  <link rel="apple-touch-icon" href="images/favicons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
  <!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->

  <!--headerIncludes-->

</head>

<body>

  <h3>Test step function</h3>

  <button id="enableMetamask" class="btn btn-warning">Enable Metamask</button>
  <!-- <h6>Account: <span class="showAccount"></span></h6> -->

  <div>
    <button id="btnSendETH" class="btn btn-success">
      Send ETH - infura
    </button>
  </div>

  <div id="info">
    <table id="tbinfo" class="container col-lg-12">

      <tr id="row1" class="row">
        <td class="col-sm-2 col-lg-offset-1">address</td>
        <td class="col-sm-2 col-lg-offset-1">ethCount</td>
        <td class="col-sm-2 col-lg-offset-1">sum</td>
        <td class="col-sm-2 col-lg-offset-1">count</td>
      </tr>

    </table>
  </div>


  <div>
    <button id="btnSendETHalchemy" class="btn btn-success">
      Send ETH - alchemy
    </button>
  </div>

  <div id="info">
    <table id="tbinfoalchemy" class="container col-lg-12">

      <tr id="row1" class="row">
        <td class="col-sm-2 col-lg-offset-1">address</td>
        <td class="col-sm-2 col-lg-offset-1">ethCount</td>
        <td class="col-sm-2 col-lg-offset-1">sum</td>
        <td class="col-sm-2 col-lg-offset-1">count</td>
      </tr>

    </table>
  </div>







  <!-- JavaScript -->
  <script src="scripts/jquery-1.11.2.min.js "></script>
  <script src="scripts/bootstrap.min.js "></script>
  <!-- <script src="scripts/jquery.validate.min.js "></script>
  <script src="scripts/smoothscroll.js "></script>
  <script src="scripts/jquery.smooth-scroll.min.js "></script>
  <script src="scripts/placeholders.jquery.min.js "></script>
  <script src="scripts/jquery.magnific-popup.min.js "></script>
  <script src="scripts/jquery.counterup.min.js "></script>
  <script src="scripts/waypoints.min.js "></script>
  <script src="scripts/video.js "></script>
  <script src="scripts/bigvideo.js "></script>
  <script src="scripts/custom.js "></script> -->

  <script src="scripts/contract.js "></script>

</body>

</html>